<main class="container-fluid">
    <section class="row">
        <article class="col-lg-6">
            <mat-card appearance="outlined">
                <mat-card-content>
                    <mat-card-title>
                        <h4>Inicio de sesión</h4>
                    </mat-card-title>
                    <mat-card-subtitle>
                        Ingresa con tus credenciales para acceder
                    </mat-card-subtitle>

                    <form [formGroup]="loginForm" (ngSubmit)="logIn()">
                        <mat-form-field>
                            <mat-label>Correo electronico:</mat-label>
                            <input matInput placeholder="user@duoc.cl" formControlName="email">
                            <mat-hint>
                                Debe ser tu correo institucional (duoc.cl - duocuc.cl)
                            </mat-hint>
                            @if (hasError('email','required')) {
                            <mat-error>El correo debe ser obligatorio!</mat-error>
                            }
                            @if (hasError('email','email')) {
                            <mat-error>El correo no es valido!</mat-error>
                            }

                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Contraseña:</mat-label>
                            <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" />
                            <button matIconButton matSuffix (click)="clickEvent($event)"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
                                <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-hint>
                                Debe ser tu contraseña de usuario
                            </mat-hint>
                            @if (hasError('password','required')) {
                            <mat-error>La contraseña es obligatoria</mat-error>
                            }
                        </mat-form-field>

                        <button matButton="filled" type="submit">Iniciar sesión</button>
                        <a href="">¿Olvidaste tu contraseña?</a>
                    </form>

                </mat-card-content>
            </mat-card>
        </article>
    </section>
</main>