<main class="container-fluid">
    <section class="row">
        <article class="col-lg-6 card">
            <h3>Inicio de sesión</h3>
            <p>Ingresa con tus credenciales para acceder</p>
            <form [formGroup]="loginForm" (ngSubmit)="logIn()">

                <div class="mb-3">
                    <label for="email" class="form-label">Correo electronico</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                        formControlName="email" placeholder="Ingresa tu correo institucional">
                    <div id="emailHelp" class="form-text">Debe ser tu correo institucional (@duoc.cl - @duocuc.cl)</div>
                    @if (hasError('email','required')) {
                    <div class="text-danger">
                        Correo requerido!
                    </div>
                    }
                    @if (hasError('email','email')) {
                    <div class="invalid-feedback">
                        Formato no valido!
                    </div>
                    }
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" aria-describedby="passwordHelp"
                        formControlName="password">
                    <div id="passwordHelp" class="form-text">Debe ser tu contraseña de usuario
                    </div>
                    @if (hasError('password','required')) {
                    <div class="text-danger">La contraseña es obligatoria</div>
                    }
                </div>

                <div class="login-options">
                    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                    <a href="">¿Olvidaste tu contraseña?</a>
                </div>

            </form>
        </article>
    </section>
</main>