main,section,article{
    padding: 2vh;
}

section{
    justify-content: center;
}

h3,p{
    text-align: center;
}

.login-options{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2vh;
}