<main class="container-fluid">
    <section class="row">
        <article class="col-lg">
            <mat-card appearance="outlined">
                <mat-card-title> Detalles del mes: </mat-card-title>

                <div class="container-fluid">
                    <div class="row" id="resumen-mensual">
                        <mat-card class="col">
                            <mat-card-content>
                                <h6>Horas aprobadas: {{horasAprobadas}} </h6>
                            </mat-card-content>
                        </mat-card>

                        <mat-card class="col">
                            <mat-card-content>
                                @if (!montoAcumulado) {
                                <h6>Monto acumulado: 0</h6>
                                }@else{
                                <h6>Monto acumulado: {{montoAcumulado}}</h6>
                                }
                            </mat-card-content>
                        </mat-card>

                        <mat-card class="col">
                            <mat-card-content>
                                <h6>Orden de compra: {{ordenCompra}}</h6>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>

                <mat-card-content>
                    <mat-card-title>Historial de horas trabajadas y aprobadas:</mat-card-title>
                    <div class="filtros">

                        <mat-form-field appearance="outline">
                            <mat-label>Filtrar por áreas de trabajo</mat-label>
                            <mat-select>
                                <mat-option [value]="false"
                                    (click)="asignarArea(false);filtrarActividades()">Todas</mat-option>
                                @for (item of areasTrabajo; track $index) {
                                <mat-option [value]="item.nombre"
                                    (click)="asignarArea(item.nombre);filtrarActividades()">{{item.nombre}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Filtrar por mes</mat-label>
                            <mat-select>
                                <mat-option [value]="false"
                                    (click)="asignarMes(false);filtrarActividades()">Todos</mat-option>
                                @for (item of mes; track $index) {
                                <mat-option [value]="item"
                                    (click)="asignarMes($index + 1);filtrarActividades()">{{item}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Fecha</th>
                                <th scope="col">Inicio</th>
                                <th scope="col">Termino</th>
                                <th scope="col">Área</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (item of actividades; track $index) {
                            <tr>
                                <th scope="row">{{item.fecha}}</th>
                                <td>{{item.inicio}}</td>
                                <td>{{item.termino}}</td>
                                <td>{{item.area}}</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </mat-card-content>
            </mat-card>
        </article>
    </section>
</main>