section,article{
    padding-left: 2vh;
    padding-right: 2vh;
    padding-bottom: 2vh;
    padding-top: 1vh;
}

section{
    gap: 2vh;
    h3,p{
        text-align: center;
    }
}

.filtros{
    display: flex;
    gap: 2vh;
}


.row-cols-2 div{
    padding: 2vh;
}