main,section,article{
    padding: 2vh;
}

mat-card{
    padding: 2vh;
    text-align: center;
    mat-card-content{
        table{
            margin-top: 2vh;
        }
    }
}

.filtros{
    margin-top: 2vh;
    display: flex;
    gap: 2vh;
    mat-form-field{
        width: 100%;
    }
}

#resumen-mensual{
    margin: 2vh 0vh;
    gap: 2vh;

    mat-card{
        padding: 0.5vh;        
    }
}