main,section,article{
    padding: 2vh;
}

section{
    gap: 2vh;

    article{
        h3,p{
            text-align: center;
        }
    }

    .grafico-mensual{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}